$def with (respuesta={})
<!DOCTYPE html>
<html lang="es">
    <head>
        <title>SQLITE demo</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css">   
    </head>
    <body>
        <h1>Detalle Personas</h1>
        $if respuesta["error"] is not None:
            <h2>$respuesta["error"]</h2>
        $elif respuesta.get("persona") is not None:
            <form>
                $ nombre = '%s' % respuesta['persona'][1]
                $ email = '%s' % respuesta['persona'][2]
                <label>Nombre</label><br>
                <input type="text" name="nombre" value=$nombre readonly><br>
                <label>Email</label><br>
                <input type="text" name="email" value=$email readonly><br>
            </form>
        $else:
            <h2>No se encontró la persona solicitada.</h2>
    </body>
</html>