$def with(respuesta={})
<!DOCTYPE html>
<html lang="es">
    <head>
        <title>SQLITE demo</title>
    </head>
    <body>
        <h1>SQLITE3 Personas</h1>

        $if respuesta["error"] is not None:
            <h2>$respuesta["error"]</h2>

        <a href="/insertar">Insertar</a>

        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Detalle</th>
                    <th>Editar</th>
                    <th>Borrar</th>
                </tr>
            </thead>
            <tbody>
                $for persona in respuesta["personas"]:
                    <tr>
                        <td>$persona[1]</td>
                        <td>$persona[2]</td>
                        <td><a href="/detalle/$persona[0]">Ver</a></td>
                        <td><a href="/editar/$persona[0]">Editar</a></td>
                        <td><a href="/borrar/$persona[0]" onclick="return confirm('¿Seguro que deseas borrar este registro?');">Borrar</a></td>
                    </tr>
            </tbody>
        </table>
    </body>
</html>
